<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
		<a class="navbar-brand" href="#">Dashboard</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
  		<div class="collapse navbar-collapse" id="collapsibleNavbar">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
		      </li>

		    </ul>
        <div id="name">
          <span class="navbar-text text-white">
            Hello {{request.session.user_data.first_name}}!  </h5>
          </span>
      </div>
          <h5 class="text-white">
		    <div class="navbarText">
					<a class="btn btn-info" href="/dashboard/logout">
  						<i class="fa fa-sign-out" style="font-size:22px;color:white"> Logout</i>
					</a>
			</div>


  		</div>
	</nav>
